@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--side-color: rgb(180, 182, 204);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

.input {
  box-shadow: none;
  border-bottom: 1px solid;
  background: transparent;
  border-radius: 0;
  border: 0;

}

.dark-text{
	color: grey;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}