@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-color-a: #667aff;
    --dark-color-b: #7386ff;
    --light-color: #e6e9ff;
    --light-color-b: #c6caeb;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --grey-color: rgb(180, 182, 204);
    --chat-one: rgb(221, 237, 247);
    --chat-two: #b4beff;
    --background-color: linear-gradient(to top, rgb(75, 90, 252), rgb(76, 82, 243), rgb(77, 74, 234), rgb(78, 65, 225), rgb(79, 57, 216), rgb(80, 49, 207), rgb(82, 41, 198), rgb(83, 33, 189), rgb(84, 25, 180), rgb(85, 16, 171), rgb(86, 8, 162), rgb(87, 0, 153));
    --dark-color-d: rgb(82, 41, 198);
    --dark-color-c: rgb(79, 57, 216); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--background-color);
    height: auto;
}


.text {
    text-align: center;
    vertical-align: middle;
    color: grey;
}

.dark-text{
    color: grey;
}
.light-text{
    color: var(--light-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size:2em;
    margin: 15px 0 20px 0;
    letter-spacing: 0.05em;
    color: var(--light-color);
    font-weight: 700;
    text-shadow: 3px 3px var(--dark-color-a)
}

.h2 {
    font-size: 1.5em;
    letter-spacing: 0.05em;
    color: var(--light-color);
    text-shadow: 0 0 5px;
}

.hello-text{
    font-size: 1.5em;
    letter-spacing: 0.05em;
    color: var(--dark-color-b);
    text-align:center;
    padding-top: 40px;
}


.btn {
    cursor: pointer;
    padding: 20px 20px;
    border-radius:10%;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
    margin-right:10px;
}




@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}
